/* ********** Panel Search ********** */
.Panel > .Search {
  padding-top: var(--header-height);
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Panel > .Search label {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--bg-color);
  transition: all .3s ease-out;
}

.Panel > .Search label:hover {
  color: var(--main-color);
  opacity: .75;
}

.Panel > .Search input[type="search"] {
  padding: .5rem;
  outline: 0;
  border: 0;
  border-bottom: thin solid var(--main-color);
  font-family: var(--main-font);
  font-size: 1.5rem;
  text-align: center;
  color: var(--bg-color);
  background-color: transparent;
}

.Panel > .Search input[type="search"]::placeholder {
  text-align: center;
  color: var(--bg-color);
}

.Panel > .Search input[type="submit"],
.Panel > .Search .screen-reader-text { display: none; }

@media screen and (min-width: 64em) {
  .Panel > .Search {
    position: relative;
    padding-top: 0;
    width: 20%;
  }

  .Panel > .Search label {
    position: absolute;
    right: 1rem;
  }

  .Panel > .Search input[type="search"] {
    position: absolute;
    right: 2.5rem;
    width: 0;
    opacity: 0;
    text-align: left;
    transition: all .5s ease-out;
  }

  .Panel > .Search input[type="search"]::placeholder { text-align: left; }

  .Panel > .Search input[type="search"].is-active {
    width: 70%;
    opacity: 1;
  }
}

/* ********** Main ********** */
.Main-container {
  margin: 0 auto;
  max-width: var(--container-width);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 'content'
                                    'pagination'
                                    'sidebar';
  grid-gap: 1rem;
}

/* .Main-container > * { background-color: var(--border-color); } */

.Main-container.Page {
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'content'
                                    'sidebar';
}

.Main-container.SideBarLeft {
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'content'
                                    'sidebar';
}

.Main-container.FullWidth,
.Main-container.Error404 {
  max-width: calc(var(--container-width) / 1.5 );
  grid-template-rows: auto;
  grid-template-areas: 'content';
}

.Main-container.Single {
  grid-template-areas: 'content'
                                    'comments'
                                    'sidebar';
}

.Main-container.Author {
  grid-template-areas: 'sidebar'
                                    'content'
                                    'pagination';
}

.Main-container.ResultSearch {
  grid-template-areas: 'content'
                                    'sidebar'
                                    'pagination';
}

.Main-container h1 {
  margin: 1rem;
  font-size: 3rem;
}

.Main-container.FullWidth h1 { text-align: center; }

.Main-container.Single .PostCard-header:hover { background-color: var(--second-modal-color); }

.Content { grid-area: content; }

.SideBar { grid-area: sidebar; }

.Pagination { grid-area: pagination; }

.Comments { grid-area: comments; }

@media screen and (min-width: 64em) {
  .Main-container {
    margin: 1rem auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'content sidebar'
                                      'pagination sidebar';
  }

  .Main-container.Page {
    grid-template-rows: 1fr;
    grid-template-areas: 'content  sidebar';
  }

  .Main-container.SideBarLeft {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sidebar content';
  }

  .Main-container.FullWidth,
  .Main-container.Error404 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'content';
  }

  .Main-container.Single {
    grid-template-areas: 'content sidebar'
                                      'comments comments';
  }

  .Main-container.Author,
  .Main-container.ResultSearch {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'sidebar content'
                                      'sidebar pagination';
  }
}

/* ********** PostCard ********** */
.PostCard {
  margin: 0 auto 2rem;
  max-width: calc(var(--container-width) / 3 );
  border: thin solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'card-header'
                                    'card-body';
  background-color: var(--bg-alternate-color);
}

.PostCard img {
  grid-area: card-header;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.PostCard-header {
  grid-area: card-header;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal-color);
  transition: background-color .3s ease-out;
  color: var(--bg-alternate-color);
}

.PostCard-header:hover { background-color: transparent; }

.PostCard-header h2 {
  margin-bottom: 2rem;
  flex-grow: 1;
}

.PostCard-header nav { margin-bottom: 1rem; }

.PostCard-header small { text-align: right; }

.Post-card-excerpt { grid-area: card-body; }

.PostCard-excerpt a {
  display: block;
  padding: 1rem;
}

@media screen and (min-width: 64em) {
  .PostCard {
    max-width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 'card-img card-header'
                                      'card-img card-body';
  }

  .PostCard img {
    grid-area: card-img;
    width: auto;
    height: 100%;
  }

  .PostCard-header {
    color: var(--title-color);
    background-color: transparent;
    transition: none;
  }
}



/* ********** Pagination ********** */
.Pagination > div {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.Pagination .current,
 .Pagination .dots {
   font-weight: bold;
   font-size: 1.5rem;
  }

@media screen and (min-width: 64em) {}

/* ********** Comments ********** */
.Comments {
  padding: 1rem;
  background-color: var(--second-modal-color);
}

.Comments > * { margin-bottom: 2rem; }

.Comments h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  color: var(--bg-color);
}

@media screen and (min-width: 64em) {}

/* ********** NotFound ********** */
.NotFound {
  text-align: center;
  font-size: 1.25rem;
}

.NotFound .fa-frown {
  display: block;
  margin-bottom: 2rem;
  font-size: 3rem;
}

@media screen and (min-width: 64em) {}

